@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/shadows.scss';

.mainContainer {
  position: absolute;
  right: 30px;
  top: 20px;
  background-color: $color-primary;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  box-shadow: $shadow-strong;
}

.dotsIconContainer {
  position: absolute;
  right: 10px;
  top: 10px;
  @include icon-button-container(30px);
  display: none;
}

.dotsIcon {
  @include icon(22px, $color-text-secondary);
}

.listIcon {
  @include icon(20px, $color-text-primary);
}