@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.mainContainer {
  position: absolute;
  right: 30px;
  top: 20px;
  background-color: $color-primary;
  border: 1px solid $color-borders;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;

  &:hover {
    border-color: $color-borders-highlight;
  }
}

.dotsIconContainer {
  position: absolute;
  right: 10px;
  top: 10px;
  @include icon-button-container(30px);
  display: none;
}

.dotsIcon {
  @include icon-button(22px);
}

.icon {
  width: 20px;
  height: 20px;
  fill: $color-text-primary;
}