@import '../../styles/colors.scss';

.mainContainer {
  position: absolute;
  right: 30px;
  top: 20px;
  background-color: $color-primary;
  border: 1px solid $color-borders;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;

  &:hover {
    border-color: $color-borders-hover;
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: $color-text-primary;
}

.dotsContainer {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $color-element-hover;
  }
}