@import '../../styles/colors.scss';

.mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px 30px;
  // position: fixed; Without this the scrollbar goes above the navbar, which I don't like
  // top: 120px;      but it also causes a lot of issues so I'm disabling for now
  // bottom: 0;
  overflow: scroll;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

@media (max-width: 480px) {
  .mainContainer {
    top: 152px;
  }
}