@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.input {
  @include text-input();
  width: 200px;
  height: 25px;
  font-size: 16px;

  &:focus {
    outline: none !important;
    border: 1.5px solid $color-borders-highlight;
  }
}