@import '../../styles/colors.scss';

.mainContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: $color-primary;
  color: $color-text-primary;
  border: 2px solid $color-button-borders;
  border-radius: 15px;
  min-width: 150px;
  min-height: 50px;
  padding: 3px 10px;
  transition: 0.4s ease;
  font-size: 17px;
  &:hover {
    cursor: pointer;
    box-shadow: inset 200px 0 0 0 adjust-hue($color-button-borders, 45deg);
    color: $color-primary;
    svg {
      fill: $color-primary;
    }
  }
};