$color-background: #e5e5e5;
$color-primary: #f2f2f2;
$color-secondary: #e61973;
$color-borders-gray: #a0a0a0;
$color-text-primary: #000000;
$color-text-secondary: #606060;
$color-overlay: #121213d9;
$color-button-disabled: #e619724c;
$color-element-hover: #dbdbdbe0;
$color-input-background: #e2e2e2;
$color-input-focused: #e6197369;
$color-transparent: #ffffff00;