$color-background: #111111;
$color-primary: #1a1a1b;
$color-borders: #343536;
$color-borders-highlight: #a8a9ab;
$color-text-primary: #c9ccce;
$color-text-secondary: #747474;
$color-overlay: #121213eb;
$color-button-borders: #cacaca;
$color-button-borders-hover: #e1e1e1;
$color-button-disabled: #585757;
$color-element-hover: #333333;
$color-input-background: #161616;