$color-background: #e5e5e5;
$color-primary: #f2f2f2;
$color-secondary: #e61973;
$color-borders-gray: #a0a0a0;
$color-borders-highlight: #000000;
$color-text-primary: #000000;
$color-text-secondary: #606060;
$color-overlay: #121213d9;
$color-button-disabled: #e619724c;
$color-element-hover: #dbdbdbe0;
$color-input-background: #e2e2e2;
$color-selected-option: #df4a8b;
$color-transparent: #ffffff00

// $color-background: #111111;
// $color-primary: #1a1a1b;
// $color-borders: #343536;
// $color-borders-highlight: #a8a9ab;
// $color-text-primary: #c9ccce;
// $color-text-secondary: #747474;
// $color-overlay: #121213eb;
// $color-button-borders: #cacaca;
// $color-button-borders-hover: #e1e1e1;
// $color-button-disabled: #585757;
// $color-element-hover: #333333;
// $color-input-background: #161616;
// $color-selected-option: #bfbfbf;