$color-background: #030303;
$color-primary: #1a1a1b;
$color-borders: #343536;
$color-borders-hover: #a8a9ab;
$color-text-primary: #c9ccce;
$color-text-secondary: #747474;
$color-overlay: #202020e1;
$color-button-borders: #cacaca;
$color-button-borders-hover: #e1e1e1;