@import './colors.scss';

@mixin text-input {
  background-color: $color-input-background;
  color: $color-text-primary;
  border: 1.5px solid $color-borders;
  border-radius: 4px;
}

@mixin filter-section-header {
  margin: 20px 0 30px;
  padding: 5px 0;
  border-bottom: 1px solid $color-borders;
  margin-right: 100px;
}

@mixin modal-content () {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 500px;
  padding: 30px 30px;
}

@mixin icon-button-container ($size) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $size;
  width: $size;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $color-element-hover;
  }
}

@mixin icon-button-container-top-corner ($size, $corner-distance) {
  position: absolute;
  top: $corner-distance;
  right: $corner-distance;
  @include icon-button-container($size);
}

@mixin icon ($size) {
  width: $size;
  height: $size;
  fill: $color-text-primary;
}

@mixin secondary-text {
  font-size: 12px;
  color: $color-text-secondary;
}