$shadow-strong: rgba(0, 0, 0, 0.127) 0px 10px 20px, rgba(0, 0, 0, 0.186) 0px 6px 6px;
$shadow-medium: rgba(0, 0, 0, 0.093) 0px 9px 18px, rgba(0, 0, 0, 0.127) 0px 5px 5px;
$shadow-soft: rgba(0, 0, 0, 0.052) 0px 6px 12px, rgba(0, 0, 0, 0.085) 0px 4px 4px;
$shadow-inset: rgba(0, 0, 0, 0.031) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.049) -3px -3px 6px 1px inset;