@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.mainContainer {
  position: relative;
  background-color: $color-primary;
  color: $color-text-primary;
  height: 260px;
  padding: 13px;
  border: 1px solid $color-borders;
  border-radius: 8px;
  transition: 0.15s ease;
  cursor: pointer;
  overflow: hidden;
  word-break: break-all;

  &:hover {
    border-color: $color-borders-highlight;
    transform: scale(1.02);

    .dropdownIcon {
      display: flex;
    }
  }

  h2 {
    margin: 10px 0;
  }
}

.posterInfoText {
  @include secondary-text();
}

.effectOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
background: linear-gradient(180deg, rgba(255,255,255,0) 85%, rgba(26,26,27,1) 100%);
}