@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.mainContainer {
  position: relative;
  background-color: $color-primary;
  color: $color-text-primary;
  height: 260px;
  padding: 13px;
  border: 1px solid $color-borders;
  border-radius: 8px;
  transition: 0.15s ease;
  cursor: pointer;

  &:hover {
    border-color: $color-borders-highlight;
    transform: scale(1.02);

    .dropdownIcon {
      display: flex;
    }
  }

  h2 {
    margin: 10px 0;
  }
}

.posterInfoText {
  @include secondary-text();
}