@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/shadows.scss';

.mainContainer {
  position: relative;
  background-color: $color-primary;
  color: $color-text-primary;
  height: 260px;
  padding: 13px;
  border-radius: 8px;
  box-shadow: $shadow-medium;
  transition: 0.15s ease;
  cursor: pointer;
  overflow: hidden;
  word-break: break-word;

  &:hover {
    transform: scale(1.02);
    box-shadow: $shadow-strong;

    .dropdownIcon {
      display: flex;
    }
  }

  h2 {
    margin: 10px 0;
  }
}

.posterInfoText {
  @include secondary-text();
}

.effectOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background: linear-gradient(180deg, $color-transparent 85%, $color-primary 100%);
}