@import '../../styles/colors.scss';

.mainContainer {
  position: relative;
  background-color: $color-primary;
  color: $color-text-primary;
  min-height: 260px;
  padding: 13px;
  border: 1px solid $color-borders;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
    border-color: $color-borders-highlight;

    .dropdownIcon {
      display: flex;
    }
  }

  h2 {
    margin: 10px 0;
  }
}

.userIdText {
  font-size: 12px;
  color: $color-text-secondary;
}