@import '../../styles/colors.scss';

.mainContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-overlay;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBox {
  background-color: $color-primary;
  border: 1px solid $color-borders;
  border-radius: 4px;
  padding: 18px;
  color: $color-text-primary;
}