@import '../../styles/colors.scss';
@import '../../styles/shadows.scss';

.mainContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $color-overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in 0.3s;
}

.modalBox {
  background-color: $color-primary;
  border: 1px solid $color-borders-gray;
  border-radius: 4px;
  color: $color-text-primary;
  animation: grow 0.3s;
  box-shadow: $shadow-strong;
}

@media (max-width: 767px) {
  .modalBox {
    width: 100%;
    margin: 0 20px;
  }
}

@media (max-width: 480px) {
  .modalBox {
    margin: 0 10px;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}