@import '../../styles/mixins.scss';

.mainContainer {
  position: relative;
  @include modal-content();
  word-break: break-word;

  h2 {
    margin: unset;
    font-size: 32px;
  }
}

.posterInfoText {
  @include secondary-text();
  margin-bottom: 40px;
}

.bodyText {
  font-size: 18px;
  max-height: 300px;
  overflow: scroll;
}

.buttonsContainer {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  @include icon(25px);
}

@media (max-width: 767px) {
  .mainContainer {
    width: auto;
    height: 600px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    height: 700px;
  }
}