@import '../../styles/colors.scss';

.mainContainer {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 100px;
  background-color: $color-primary;
  border: 1px solid $color-borders;
  z-index: 5;
}