@import '../../styles/colors.scss';
@import '../../styles/shadows.scss';

.mainContainer {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background-color: $color-primary;
  border: 1px solid $color-borders-gray;
  z-index: 5;
  box-shadow: $shadow-strong;
}

.logo {
  height: 40px;
  width: 250px;
  background-color: $color-secondary;
  border-radius: 4px;
  padding: 4px;
}

.filtersContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1023px) {
  .mainContainer {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    gap: 5px;
  }

  .logo {
    margin-bottom: 5px;
  }

  .filtersContainer {
    flex-direction: column;
    gap: 2px;
  }
}