@import '../../styles/colors.scss';

.mainContainer {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background-color: $color-primary;
  border: 1px solid $color-borders;
  z-index: 5;
}

.logo {
  height: 40px;
  width: 250px;
  border: 1px solid $color-borders-highlight;
  border-radius: 4px;
  padding: 4px;
}

.filtersContainer {
  display: flex;
  gap: 10px;
}

@media (max-width: 1023px) {
  .mainContainer {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  .mainContainer {
    padding: 0 25px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    gap: 20px;
  }
}