@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.mainContainer {
  @include modal-content();
}

.titleInput, .bodyInput {
  @include text-input(20px);
}

.titleInput {
  height: 45px;
}

.bodyInput {
  resize: none;
  height: 100%;
  font-family: BlinkMacSystemFont;
}

.charCountText {
  @include secondary-text();
  margin: 3px 0 37px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 767px) {
  .mainContainer {
    width: auto;
    height: 600px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    height: 700px;
  }
}