@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.mainContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $color-overlay;
}

.sidebarContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  height: 100vh;
  z-index: 5;
  border: 1px solid $color-borders-gray;
  background-color: $color-primary;
  color: $color-text-primary;
  padding: 40px 0 20px 30px;
  animation: slide-in 0.3s;
}

.closeButtonContainer {
  @include icon-button-container-top-corner(35px, 15px);
}

.closeButton {
  @include icon(22px, $color-text-primary);
}

@media (max-width: 530px) {
  .sidebarContainer {
    width: calc(100% - 30px);
  }
}

@keyframes slide-in {
  0% {
    transform: translate(500px);
  }
  100% {
    transform: translate(0);
  }
}